.banner__titulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 4rem;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 6px 4px #333333;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}