.pessoas{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}


@media screen and (max-width: 768px ) {
    .pessoas{
        flex-direction: column;
        padding: 3rem 0;
    }    
}